@import url('https://fonts.googleapis.com/css?family=Heebo');

body {
    display: block;
    margin: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

a:link, a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    color:rgb(160, 205, 222);
}

img {
    width: 100%;
}

h1 {
    font-family: 'Heebo', sans-serif;
    font-size: 100px;
    margin: 0;
}


nav li {
    display: inline;
    border: 1px solid rgb(160, 205, 222);
    padding: 10px;
}

ul {
    list-style-type: none;
}

.top-nav {
    display: inline;
    padding: 10px;
    text-align: center
}

.max {
    width: 30%;
    border-radius: 100%;
}

footer {
    background-color: rgb(160, 205, 222);
    height: 100px;
}

footer p {
   padding-top: 40px;
}

